body, html {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

/*------------------------------------MENU-----------------------------------------------*/

nav > span {
    position: fixed;
    z-index: 1;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    /* DÃ©sactive le scroll horizontal */
    transition: 0.5s ease;
    text-transform: uppercase;
}

.sidenav > a, .salles > a {
    padding: 8px 20px 8px 20px;
    text-decoration: none;
    font-weight: bold;
    color: #EBE7E0;
    display: block;
    transition: 0.3s ease;
}

.sidenav .salles {
    padding-top: 40px;
}

nav > .sidenav > .salles > ul {
    padding-left: 0;
}

nav > .sidenav > .salles > ul > li {
    padding: 8px 20px 8px 20px;
    transition: ease 0.2s;
}


nav > .sidenav > a{
    padding: 8px 20px 8px 20px;
    transition: ease 0.2s;
}

nav > .sidenav > .salles > ul > li:hover {
    transition: ease 0.2s;
    background-color: #ffeb3b;
}

nav > .sidenav > a:hover{
    transition: ease 0.2s;
    background-color: #ffeb3b;
    color: black;
}

nav > .sidenav > .salles > ul > li:hover > a {
    transition: ease 0.2s;
    color: black;
}

.titremenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0 50px 0;
}

#mySidenav > .titremenu > img {
    width: 70px;
    height: 70px;
    border: #ffeb3b solid 3px;
}

.titremenu > a {
    display: flex;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 20px;
}

nav > span > a > img {
    width: 60px;
    margin: 20px;
}

@media (max-width: 1000px) {
    nav > span > a > img {
        margin: 0;
    }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.opaque {
    background-color: black;
}

/*------------------------------SALLES--------------------------*/

body {
    width: 100%;
    overflow: hidden;
    position: relative;
}

@media (min-width: 1000px) {
    body {
        height: 100vh;
    }
}

.mmi {
    background-image: url("../images_interface/fond_entree_mmi.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body.salle {
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}

body.sallejaune {
    background-color: #FDD835;
}

body.sallerouge {
    background-color: #932626;
}

body.sallebleu {
    background-color: #49728E;
}

body.sallegrise {
    background-color: #54595B;
}

#secretariat {
    background-image: url("../images_interface/portes/secretariat.svg");
}

#direction {
    background-image: url("../images_interface/portes/direction.svg");
}

#entretien {
    background-image: url("../images_interface/portes/local.svg");
}

@media (min-width: 1200px) and (max-width: 1600px) {
    .salle, .mmi {
        background-position-x: -80px !important;
    }

    #entretien {
        background-position-x: 10px !important;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .salle, .mmi {
        background-position-x: -110px !important;
    }

    #entretien {
        background-position-x: 0 !important;
    }
}

@media (max-width: 1000px) {
    .salle {
        background-size: 400px !important;
        background-position-y: -96px !important;
        background-position-x: center !important;
    }

    #entretien {
        background-position-y: -157px !important;
        background-size: contain !important;
    }

    .mmi {
        background-size: auto 40%;
        background-position-y: -90px !important;
        background-position-x: -70px !important;
    }
}

@media (max-width: 650px) {
    .salle {
        background-size: 400px !important;
    }

    #entretien {
        background-position-y: -125px !important;
    }
}

#salle102 {
    background-image: url("../images_interface/portes/102.svg");
}

#salle103 {
    background-image: url("../images_interface/portes/103.svg");
}

#salle104 {
    background-image: url("../images_interface/portes/104.svg");
}

#salle105 {
    background-image: url("../images_interface/portes/105.svg");
}

#salle106 {
    background-image: url("../images_interface/portes/106.svg");
}

#salle201 {
    background-image: url("../images_interface/portes/201.svg");
}

#salle203 {
    background-image: url("../images_interface/portes/203.svg");
}

#salle204 {
    background-image: url("../images_interface/portes/204.svg");
}

#salle210 {
    background-image: url("../images_interface/portes/210.svg");
}

/*------------------------------------POLYGON--------------------------------*/

.polygon-accueil {
    top: 0;
    position: absolute;
    -webkit-clip-path: polygon(100% -200%, 30% 130%, 100% 100%);
    clip-path: polygon(100% -200%, 30% 130%, 100% 100%);
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: flex-end;
}

.polygon-salle {
    top: 0;
    position: absolute;
    -webkit-clip-path: polygon(100% -260%, 10% 130%, 120% 100%);
    clip-path: polygon(100% -260%, 10% 130%, 120% 100%);
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .polygon-accueil {
        -webkit-clip-path: polygon(100% -320%, 30% 130%, 100% 100%);
        clip-path: polygon(100% -320%, 30% 130%, 100% 100%);
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .polygon-accueil {
        -webkit-clip-path: polygon(100% -500%, 30% 130%, 100% 100%);
        clip-path: polygon(100% -500%, 30% 130%, 100% 100%);
    }
}

@media (max-width: 1000px) {
    .polygon-salle {
        padding-bottom: 40px;
    }

    .polygon-salle, .polygon-accueil {
        -webkit-clip-path: none;
        clip-path: none;
        position: relative;
        flex-direction: column;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .polygon-salle {
        -webkit-clip-path: polygon(130% -260%, 10% 130%, 120% 100%);
        clip-path: polygon(130% -260%, 10% 130%, 120% 100%);
        align-items: flex-end;
        flex-direction: column;
    }
}

@media (max-width: 650px) {
    .polygon-salle, .polygon-accueil {
        justify-content: center;
    }
}

.contenu {
    width: 550px;
    height: 100%;
    padding-right: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 1200px) and (max-width: 1600px) {
    .contenu {
        padding-right: 50px;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .contenu {
        padding: 0 50px 50px 0;
    }
}

@media (max-width: 1000px) {
    .contenu {
        width: 80%;
        height: auto;
        padding: 0;
        justify-content: flex-end;
        margin: 0 auto;
    }

    .mmi .contenu {
        padding: 50px 0;
    }
}

@media (max-width: 650px) {
    .contenu {
        padding: 0;
    }
}

nav {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1000px) {
    nav {
        height: 60px;
    }

    .mmi nav {
        height: 300px;
    }
}

main > .bouton {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.bouton > a {
    border: solid #ffeb3b 4px;
    padding: 15px 25px;
    transition: 0.2s ease-in-out;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 515px) {
    .polygon-salle .bouton > a {
        height: 30px;
        padding: 5px 10px;
        font-size: 0.7em;
    }
}

@media (max-width: 620px) {
    .mmi .bouton {
        flex-direction: column;
        align-items: center;
    }

    .mmi .bouton > a {
        width: 250px;
        text-align: center;
    }

    .mmi .bouton > a:first-child {
        margin-bottom: 20px;
    }
}

.bouton > a:hover {
    color: black;
    background-color: #ffeb3b;
    transition: 0.2s ease-in-out;
}

#credits {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

@media (max-width: 1000px) {
    .mmi .bouton {
        padding-bottom: 40px;
    }

    #credits {
        flex-direction: column;
    }

    #theo {
        margin-bottom: 20px;
    }

    #elo, #theo {
        justify-content: center;
    }
}

#elo > img, #theo > img {
    width: 80px;
    height: auto;
}

#theo > img {
    border: #6ab067 solid 2px;
    border-radius: 50%;
}

#elo, #theo {
    display: flex;
    align-items: center;
}

#elo > ul, #theo > ul {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.liens {
    padding-left: 8px;
}

.liens > p {
    margin: 0;
}

.liens > ul > li {
    transition: ease 0.2s;
}

.liens > ul > li:hover {
    transition: ease 0.2s;
    transform: scale(0.8);
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 0 0 0;
    margin: 0;
}

.logo img {
    width: 25px;
    height: auto;
}

/*----------------------------------------SALLES-------------------------------*/

.salle header {
    padding-bottom: 20px;
}

.polygon-salle > img {
    max-width: 500px;
    max-height: 500px;
    width: 500px;
    height: auto;
    padding-right: 100px;
    align-self: center;
}

@media (min-width: 1000px) and (max-width: 1600px) {
    .polygon-salle > img {
        padding-right: 50px;
        max-width: 300px;
        max-height: 300px;
        width: 300px;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .polygon-salle > img {
        padding: 50px 0 0 250px;
    }
}

@media (max-width: 1000px) {
    .polygon-salle > img {
        width: 200px;
        height: 200px;
        padding: 50px 0 50px 0;
    }
}

@media (max-width: 650px) {
    .polygon-salle > img {
        padding: 20px 0 20px 0;
    }
}

section {
    display: flex;
    padding-bottom: 40px;
}

@media (max-width: 1000px) {
    section {
        padding-bottom: 20px;
    }
}

section > p:nth-child(2) {
    margin: 0 20px;
}

section > p {
    margin: 0;
}

section > p > img {
    width: 50px;
}

@media (max-width: 1000px) {
    section > p > img {
        width: 30px;
    }
}

section > .quote:last-of-type {
    align-self: flex-end;
}

.salle footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    /* padding-top: 80px; */
    /* height: 100px; */
}

@media (max-width: 1000px) {
    .salle footer {
        /* padding-top: 40px; */
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .salle footer {
        padding-top: 30px;
    }
}

.salle footer > a:first-child {
    margin-right: 40px;
}

#apropos footer p {
    margin: 0;
}

/*------------------------APROPOS----------------------------------------------------*/

#apropos > main > .bouton {
    padding-bottom: 20px;
}

#apropos > main > .bouton > a {
    padding: 15px 170px;
}

@media (max-width: 1000px) {
    #apropos > main > .bouton > a {
        padding: 15px 0;
    }

    #apropos > main > .bouton {
        padding-bottom: 20px;
    }
}

/*----------------------------------GALERIE------------------------------------------------------*/
#galerie{
    background-color: black;
}

#galerie > main > h1{
    text-align: center;
    padding: 50px 0;
}

@media(max-width: 400px){
    #galerie > main > h1{
        font-size: 2.5em;
    }
}

#galerie nav > span > a > img{
    margin: 0;
}

#galerie > main > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

#galerie > main > ul > li{
    width: calc(25% - 4px);
    margin-right: 4px;
}

@media(max-width: 1000px) and (min-width: 800px){
    #galerie > main > ul > li{
        width: calc(33.3% - 4px);
    }
}

@media(max-width: 800px) and (min-width: 600px){
    #galerie > main > ul > li{
        width: calc(50% - 4px);
    }
}

@media(max-width: 600px){
    #galerie > main > ul > li{
        width: 100%;
    }
}

#galerie > main > ul > li > a > img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

#galerie{
    height: initial;
}

/*----------------------------------SALLES ROUGE-----------------------------------------*/

.sallerouge .bouton > a {
    color: #D32F2F;
    border: solid #D32F2F 4px;
}

.sallerouge .bouton > a:hover {
    color: black;
    background-color: #D32F2F;
}

/*----------------------------------SALLES BLEU-------------------------------------------*/

.sallebleu .bouton > a {
    color: #2196f3;
    border: solid #2196f3 4px;
}

.sallebleu .bouton > a:hover {
    color: black;
    background-color: #2196f3;
}

/*--------------------------------------SALLES GRISES--------------------------------------------*/

.sallegrise .bouton > a {
    color: #BDBDBD;
    border: solid #BDBDBD 4px;
}

.sallegrise .bouton > a:hover {
    color: black;
    background-color: #BDBDBD;
}
