h1, h2, h3{
    color: #ffeb3b;
    font-family: 'Product Sans', Arial, sans-serif;
    margin: 0;
}

p{
    font-size: 0.9em;
}

h1{
    font-size: 4em;
}

@media(max-width: 1000px){
    h1{
        font-size: 3.2em;
    }
}

p{
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

a{
    color: #ffeb3b;
    font-family: 'Product Sans', Arial, sans-serif;
}

nav > .sidenav > .salles > ul > li > a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

nav > .sidenav > .salles > p{
    font-family: 'Product Sans', Arial, sans-serif;
    color: #ffeb3b;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

/*-----------------------------COULEURS SALLES------------------------------------------*/

.sallerouge h1, .sallerouge h2, .sallerouge > footer li, .sallerouge main h3{
    color: #D32F2F;
}

.sallebleu h1, .sallebleu h2, .sallebleu > footer li, .sallebleu main h3{
    color: #2196f3;
}

.sallegrise h1, .sallegrise h2, .sallegrise > footer li, .sallegrise main h3{
    color: #BDBDBD;
}

.bouton > a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
}


footer li{
    color: #ffeb3b;
    font-family: 'Ubuntu', sans-serif;
    list-style-type: none;
}

#elo > .liens > p, #theo > .liens > p{
    color: #ffeb3b;
    text-transform: uppercase;
    font-weight: bold;
}

section > p{
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-size: 2em;
}

@media(max-width: 1000px){
    section > p{
        font-size: 1.5em;
    }
}

main h3{
    font-weight: normal;
}