h1, h2, h3{
    color: #ffeb3b;
    font-family: 'Product Sans', Arial, sans-serif;
    margin: 0;
}

p{
    font-size: 0.9em;
}

h1{
    font-size: 4em;
}

p{
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

a{
    color: #ffeb3b;
    font-family: 'Product Sans', Arial, sans-serif;
}

.bouton > a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
}


footer li{
    color: #ffeb3b;
    font-family: 'Ubuntu', sans-serif;
    list-style-type: none;
}

#elo > .liens > p:first-child, #theo > .liens > p:first-child{
    color: #ffeb3b;
    text-transform: uppercase;
    font-weight: bold;
}

section > p{
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-size: 2em;
}